<h1>widget_list Examples</h1>
<p><%= link_to "Ruby Items Sequel Example", :action => "ruby_items", :controller => "widget_list_examples" %></p>
<p><%= link_to "Ruby Items Active Record Example", :action => "ruby_items_active_record", :controller => "widget_list_examples" %></p>
<p><%= link_to "Administration Console", :action => "administration", :controller => "widget_list_examples" %></p>
